<div class="row">
  <div class="col-12 col-md-3">
    <div class="mb-3">
        <%= render partial: 'rooms' %>
  </div>
</div>
</div>


  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading" >
        Welcome to the social media application!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

    </div>
</div>